<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utuberr.</title>
    <link rel="shortcut icon" href="./icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/6528221f95333ff155d01ad2_fav.gif" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.10.1/bodymovin.min.js"></script>
</head>
<!-- 
<body>
    <div id="loader">
        <h1>ENVIRONMENTS</h1>
        <h1>EXPERIENCES</h1>
        <h1>CONTENT</h1>
    </div>
    <div id="fixed-image">

    </div>
    <div id="main">

        <div id="page1">
            <nav>
                
                <h1 class="logo">Utuberr.</h1> -->
                <!-- <img  src="Screenshot_2024-04-26_100511-removebg-preview.png"
                    alt="">-->
                    
                    <!-- <div id="nav-part2">
                        <h4><a href="#">home</a></h4>
                        <h4><a href="#">About Us</a></h4>
                        <h4><a href="#">AI tools</a></h4>
                        <h4><a href="#">Reviews</a></h4>
                        <h4><a href="#">pro</a></h4>
                        <h4><a href="#">Contact</a></h4>

                        <div class="icons">
                            <div class="fas fa-search" id="search-btn"></div>
                            <div class="fas fa-bars" id="menu-btn"></div>
                        </div>
                        <div class="search-form">
                            <input type="search-box" placeholder="search here"> -->
                            <!-- <label for="serahc-box" class="fas fa-search"></label> -->
                        <!-- </div>
                    </div>
                <h3>Menu</h3>
            </nav>
            <div id="center">
                <div id="left">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quod rem suscipit laudantium. Vel, quas laborum deserunt expedita sequi, quibusdam rerum voluptas porro fuga saepe, cupiditate aliquam reiciendis quos sapiente.</h3>
                    <a href="<%= user ? `/upload/${user.uid}?_method=PUT` : '/signin' %>" class="btn btn-dark">Get Started</a>
                 
                 

                 
                        
                </div>
                <div id="right">
                    <h1>INSPIRE <br> -->
                        <!-- ENDLESS <br>
                        JOURNEY</h1>
                </div>

            </div>
            <div id="hero-shape">
                <div id="hero-1"></div>
                <div id="hero-2"></div>
                <div id="hero-3"></div>
            </div>
            <video autoplay loop muted src="WhatsApp Video 2024-04-29 at 01.18.04_cc1d0af8.mp4"></video>
        </div>

        <div id="page2">

            <div id="moving-text"> -->
                <!-- <div class="con">
                    <h1>EXPERIENCES</h1>
                    <div id="gola"></div>
                    <h1>CONTENT</h1>
                    <div id="gola"></div>
                    <h1>ENVIRONMENTS</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>EXPERIENCES</h1>
                    <div id="gola"></div>
                    <h1>CONTENT</h1>
                    <div id="gola"></div>
                    <h1>ENVIRONMENTS</h1> -->
                    <!-- <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>EXPERIENCES</h1>
                    <div id="gola"></div>
                    <h1>CONTENT</h1>
                    <div id="gola"></div>
                    <h1>ENVIRONMENTS</h1>
                    <div id="gola"></div>
                </div>
            </div>
            <div id="page2-bottom">
                <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid, hic deleniti praesentium id rerum. Quia magnam pariatur quae quibusdam laborum nemo ipsa necessitatibus error? Corrupti tempore ea incidunt ab.</h1>
                <div id="bottom-part2">
                    <img src="https://uploads-ssl.webflow.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.jpg"
                        alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quam dolorem atque consequuntur et earum a, tenetur nemo iure nam debitis ex architecto omnis! Repellendus est nisi deserunt illum ab!</p>
                </div>
            </div>
            <div id="gooey">

            </div> -->
        <!-- </div>
        


         <div id="page3">
          
             <div id="elem-container"> -->
              
               
                    
                    <!-- <div class="overlay"></div>
                    <h2>Template 4</h2>
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1700924546093-f914fd5b8814?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>Template 5</h2> 
                </div>
                < <div class="elem"
                    data-image="https://images.unsplash.com/photo-1700601437860-e66da79cf6d2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OXx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>Template 6</h2> 
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1700769025506-6c3dcb9ec9b7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2OXx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>Template 7</h2>
                </div> -->
             <!-- </div>
        </div>

        <div id="page4">
             <div class="swiper mySwiper">
                <div class="swiper-wrapper"> 
        
                    <div class="swiper-slide"> <img class="img" src="th.jpg" >slide 1<h5 class="feedback">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate commodi necessitatibus perspiciatis quis, totam sed voluptatibus eius nobis delectus. Ducimus, dolor nesciunt sunt eaque harum asperiores libero sed ab commodi!</h5>
                        <span   class="fa fa-star checked"></span>
                        <span  class="fa fa-star checked"></span>
                        <span  class="fa fa-star checked"></span>
                        <span  class="fa fa-star"></span>
                        <span  class="fa fa-star"></span></div> --> 
<!-- 
                    <div class="swiper-slide"> <img class="img" src="th.jpg">Slide 2<h5 class="feedback">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate commodi necessitatibus perspiciatis quis, totam sed voluptatibus eius nobis delectus. Ducimus, dolor nesciunt sunt eaque harum asperiores libero sed ab commodi!</h5></div>

                    <div class="swiper-slide"> <img class="img" src="th.jpg">Slide 3<h5 class="feedback">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate commodi necessitatibus perspiciatis quis, totam sed voluptatibus eius nobis delectus. Ducimus, dolor nesciunt sunt eaque harum asperiores libero sed ab commodi!</h5></div>
                    <div class="swiper-slide"> Slide 4</div> -->
                    <!-- <div class="swiper-slide"> <img class="img4" src="th.jpg">Slide 5</div>
                    <div class="swiper-slide"> <img class="img5" src="th.jpg">Slide 6</div>
                    <div class="swiper-slide"> <img class="img6" src="th.jpg">Slide 7</div> -->
                <!-- </div>

            </div> 
        </div>
       
        <div id="page5">


        </div>
        <div id="full-scr">
            <div id="full-div1">
                
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-div">

        </div>
        <h1>utuberr..</h1>
        <div id="footer-bottom">

        </div>
    </div> -->
   
   
<body>
    <div style="background:black ;background-size:30%;"id="animationWindow">
    </div>
    <nav>
        <img src="/images/logo.png">
        <div class="nav-part2">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">AI tools</a>
            <a href="">Review</a>
            <a href="/search">Search</a>
            <a href="">Contact</a>
        </div>
    </div>
    <% if (user) { %>
        <div class="profileCard">
            <div class="profilePicture" onclick="window.location.href='/profile/<%- user.uid %>'">
                <img src="<%= user.picture %>" />
            </div>

            
        </div>
    <% } else { %>
        <button onclick="window.location.href = '/Sign Up/signup_page.html'" class="signinButton">
            Join Us
        </button>
    <% } %>



    </nav>
    <div id="main">
        <div id="page1">
            <h1>Channel<span><svg class="c-bttn__morph" fill="none" viewBox="0 0 131 136">
               
                    <path d="M8 5v14l11-7z"/>
                    <path d="M8 5v14l11-7z"/>

                        <path class="g-path" data-morph="end" fill="#fff"
                            d="M48 77.457v7.224h7.224l21.307-21.306-7.224-7.225L48 77.457Zm34.118-19.67a1.919 1.919 0 0 0 0-2.716l-4.508-4.508a1.919 1.919 0 0 0-2.716 0l-3.526 3.526 7.224 7.224 3.526-3.525Z">
                        </path>
                        <path class="g-path" data-morph="start" fill="#fff"
                            d="M48 77.457v7.224h7.224l21.307-21.306-7.224-7.225L48 77.457Zm34.118-19.67a1.919 1.919 0 0 0 0-2.716l-4.508-4.508a1.919 1.919 0 0 0-2.716 0l-3.526 3.526 7.224 7.224 3.526-3.525Z"
                            data-original="M65.72 109.14c10.08 0 17.76-3.78 23.04-11.34 5.4-7.68 8.1-17.64 8.1-29.88 0-12.24-2.7-22.2-8.1-29.88-5.28-7.68-12.96-11.52-23.04-11.52-9.96 0-17.7 3.84-23.22 11.52-5.4 7.68-8.1 17.64-8.1 29.88 0 12.12 2.7 22.02 8.1 29.7 5.52 7.68 13.26 11.52 23.22 11.52Zm46.08 7.02c-11.64 12.6-27.06 18.9-46.26 18.9s-34.62-6.3-46.26-18.9C7.76 103.56 2 87.48 2 67.92c0-19.56 5.76-35.64 17.28-48.24C30.92 7.08 46.34.78 65.54.78s34.62 6.3 46.26 18.9c11.64 12.6 17.46 28.68 17.46 48.24 0 19.56-5.82 35.64-17.46 48.24Z">
                        </path>
                    </svg></span>connect</h1>
            <h1>EditHub</h1>
            <p>We Collabrate with Youtuber &amp; Editor&nbsp;businesses, guiding them from series A <br>to series D and beyond with
                our expertise in </p>
            <div id="page1-something">
                <h4>Securly Upload</h4>
                <h4>User Experience</h4>
                <h4>and</h4>
                <h4>AI </h4>.
                

            </div>
            <a href="/Sign Up/signup_page.html" class="join">get started</a>
            <div id="moving-div">
                <div id="blur-left"></div>
                
                <div id="blur-right"></div>

            </div>
        </div>
        <div id="page2">
            <video autoplay loop muted src="/images/video.mp4"></video>
            <div class="page2-center">
                <div class="icon">
                    <i class="ri-play-fill"></i>
                </div>
                <h5>Watch Showreel</h5>
            </div>
        </div>
        <div id="page3">
            <div id="page3-left">
               <img src="/images/image.png">
            </div>
            <div id="page3-right">
                <div class="about"><h1>About us</h1></div>
                <div class="right-elem" id="right-elem1">
                 
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsa, blanditiis sint maiores officiis fuga molestiae quis voluptatum debitis laboriosam beatae magni nostrum vero nemo dolorum aliquam reiciendis dignissimos vitae!</h2>
                    <img src="https://assets-global.website-files.com/64a5e6675a4159253d0ee3e0/65c5011d306a52274ebea027_cover.webp"
                        alt="">
                </div>
                <div class="right-elem">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint numquam magni molestiae placeat doloremque fugit facere! Officiis illum sint consequatur totam, non voluptatum repudiandae, qui, veritatis quibusdam consequuntur et expedita?</h2>
                    <img src="https://assets-global.website-files.com/64a5e6675a4159253d0ee3e0/65c5011d306a52274ebea027_cover.webp"
                        alt="">
                </div>
                <div class="right-elem">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus itaque perferendis consequatur fugiat, aliquam ut quaerat debitis id ipsa. Unde repellat labore a eaque sapiente laborum fugit qui corrupti? Aspernatur.</h2>
                    <img src="https://assets-global.website-files.com/64a5e6675a4159253d0ee3e0/65c5011d306a52274ebea027_cover.webp"
                        alt="">
                </div>
                <div class="right-elem">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis culpa modi alias nobis ab aspernatur commodi voluptates eum sequi porro sit illo, praesentium optio voluptate ipsa rem facere expedita.</h2>
                    <img src="https://assets-global.website-files.com/64a5e6675a4159253d0ee3e0/65c5011d306a52274ebea027_cover.webp"
                        alt="">
                </div>
            </div>

        </div>
       
        </div>
        <div id="page4">
            <div class="section">
                <div class="sec-left">
                    <h1 class="tools">AI Tools</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit inventore enim, quos, qui est
                        id, architecto libero in esse vel officiis repellat alias maxime minima.</p>
                </div>
                <div class="sec-right">

                </div>
            </div>
        
        <div id="page5">
            <button>Become a Client</button>
             <div id="page5-right">
                <!-- <p><span></span>Lorem ipsum dolor sit amet consectetur<span></span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor maiores earum saepe, aspernatur dignissimos, perspiciatis excepturi eaque molestiae iure, cumque blanditiis! Ex optio itaque veritatis accusamus recusandae qui assumenda. Dolores..</p> -->
                <div id="page5-content">
                    <div class="uiux">
                        <details open>
                            <summary>
                                <h1>Client Review's</h1>
                                
                            </summary>
                            <div id="page-container">
                                <div class="page5-elem">
                                    <div class="over"></div>
                                   <img src="/images/th.jpg" >
                                    
                                  
                                    <h3>John sinha</h3>
                                    
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                        
               <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <img src="/images/th.jpg">
                                  
                                    <h3>John sinha</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <img src="/images/th.jpg">
                                  
                                    <h3>John sinha</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                                <div class="page5-elem">
                                    <div class="over"></div>
                                    <img src="/images/th.jpg">
                                  
                                    <h3>John sinha</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur
                                        error, enim in iure distinctio, pariatur quibusdam nobis dolor laborum nulla
                                        animi mollitia voluptas odit, praesentium magni. Exercitationem, tenetur? Illum,
                                        ducimus.</p>
                                    <i class="ri-arrow-right-up-line"></i>
                                </div>
                            </div>
                        </details>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="section-contact">
            <h2 >Contact Us</h2>
            <div id="page6-content">
               
                <div class="container">
                    <div class="row">
                      
                      <div class="column">
                        <img src="images/GoogleMapTA.jpg">
                      </div> 
                      <div class="column">
                        <form action="/action_page.php">
                          <label for="fname">First Name</label>
                          <input type="text" id="fname" name="firstname" placeholder="Your name..">
                          <label for="Email">Email</label>
                          <input type="text" id="Email" name="email" placeholder="Email">
                          <label for="password">Password</label>
                          <input type="password" id="password" name="email" placeholder="password">
                           
                          </select>
                          <label for="subject">Subject</label>
                          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                          <input type="submit" value="Submit">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>  
                

                </div>
            </div>
            
        </div>
        <div id="page7">

            <div>   <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#reviews">reviews</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my order</a>
                <a href="#">ask questions</a>
                <a href="#">terms of use</a>
                <a href="#">privacy policy</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +918432789876 </a> 
                 <a href="#"> <i class="fas fa-phone"></i> +91 0123456789 </a> 
                <a href="#"> <i class="fas fa-envelope"></i> riyachandra@gmail.com </a> 
                 <a href="#"> <i class="fas fa-map"></i> Ghaziabaad</a>India - 57575 </a> 
            </div>

            <div class="box">
                <h3>follow us</h3>
               
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>
            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my order</a>
                <a href="#">ask questions</a>
                <a href="#">terms of use</a>
                <a href="#">privacy policy</a>
            </div>
            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my order</a>
                <a href="#">ask questions</a>
                <a href="#">terms of use</a>
                <a href="#">privacy policy</a>
            </div>



        </div>

        <div class="credit">created by <span></span> | all rights reserved!</div>

    </section>

    <!-- footer section ends --></div>
        </div>
    </div>
    <script>
        (function() {
            let user = `<%- user ? JSON.stringify(user) : "" %>`
            if (user == '""') user = ''
            console.log(user)
            user = user ? JSON.parse(user) : null
            setGlobalUserData(user)
            configureSession()
        })()
    
        function menuToggle() {
            const toggleMenu = document.querySelector(".profMenu");
            toggleMenu.classList.toggle("active");
          }
        </script>

    
    <script src="/js/global_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>