<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST"action="/apply/:tid/<%=vid._id%>?_method=DELETE">
        <button class="btn btn-dark offset-4">Delete</button>
    </form>
</body>
</html>